@using TesteSmartHint.Web.ViewModels.Customer;
@model CustomerViewModel
@{
    ViewData["Title"] = "Cadastro de Cliente";
}

<div class="page-header">
    <div>
        <h1 class="page-title">Cadastro</h1>
        <p class="page-description">Insira um novo cliente</p>
    </div>
    <div>
        <a role="button" class="btn btn-secondary" asp-controller="Customer" asp-action="Index">
            <i class="bi bi-arrow-return-left"></i>
            Voltar
        </a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        @using(Html.BeginForm("Save", "Customer", FormMethod.Post, new { id = "formRegisterCustomer", autocomplete = "off" }))
        {
            <h3 class="submenu-title">Principal</h3>
            <hr />
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Name)
                        @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Nome ou Razão Social do Cliente", maxlength = "150" }})
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Email)
                        @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "E-mail do Cliente", maxlength = "150" }})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Phone)
                        @Html.EditorFor(x => x.Phone, new { htmlAttributes = new { @class = "form-control", @id = "phoneInput", placeholder = "Telefone do Cliente" }})
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.CreatedAt)
                        @Html.EditorFor(x => x.CreatedAt, new { htmlAttributes = new { @class = "form-control", disabled = true }})
                    </div>
                </div>
            </div>

            <br />

            <h3 class="submenu-title">Informações Pessoais</h3>
            <hr />
            <div class="row">
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-person-plus"></i>
                    Adicionar Cliente
                </button>
            </div>
        }
    </div>
</div>